# Polynomial Regression Assignment (Please do not remove the output cells)

## The objective is to apply polynomial regression on the provided data using 3 regularization techniques

Tasks are defined below:
1-  Read the dataset, and get acquainted with its features and labels. Check the link below for more details about the data.  
https://archive.ics.uci.edu/ml/datasets/Air+Quality  

2-  This dataset has 5 different output labels. For this assignment we only need the NO2 output. Please drop other outputs.  

3-  Handle missing data similar to what was covered in tutorial 3.  

4-  Replace the date feature with 3 separate features (Day, Month and Year).  

5-  Replace the time feature with 3 separate features (Hours, Minutes and Seconds).  

6-  Apply feature scaling.  

7-  Evaluate different degrees of lasso CV polynomial regression.  

8-  Choose the best degree and print the errors on the test data, model coefficients and the lasso parameters.  

9-  Repeat steps 4 and 5 using Ridge CV polynomial regression.  

10- Repeat steps 4 and 5 using ElasticNet CV polynomial regression.  

11- Compare the errors from the 3 regularization techniques, and save the best model.  

12- Load the best model and test it on a sample that you manually created it.

## Enter your IDs and Names below

1-   
  
2-


### Imports

In [ ]:
import pandas as pd
import numpy as np

### 1- Read the data

In [39]:
df = pd.read_csv("AirQualityUCI.csv")
print(df)

           Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     3/10/2004  18:00:00     2.6       1360.0     150.0      11.9
1     3/10/2004  19:00:00     2.0       1292.0     112.0       9.4
2     3/10/2004  20:00:00     2.2       1402.0      88.0       9.0
3     3/10/2004  21:00:00     2.2       1376.0      80.0       9.2
4     3/10/2004  22:00:00     1.6       1272.0      51.0       6.5
...         ...       ...     ...          ...       ...       ...
9352   4/4/2005  10:00:00     3.1       1314.0       NaN      13.5
9353   4/4/2005  11:00:00     2.4       1163.0       NaN      11.4
9354   4/4/2005  12:00:00     2.4       1142.0       NaN      12.4
9355   4/4/2005  13:00:00     2.1       1003.0       NaN       9.5
9356   4/4/2005  14:00:00     2.2       1071.0       NaN      11.9

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9352         1101.0    472.0         539.0    190.0        1374.0
9353         1027.0    353.0         604.0    179.0        1264.0
9354         1063.0    293.0         603.0    175.0        1241.0
9355          961.0    235.0         702.0    156.0        1041.0
9356         1047.0    265.0         654.0    168.0        1129.0

      PT08.S5(O3)     T    RH      AH
0          1268.0  13.6  48.9  0.7578
1           972.0  13.3  47.7  0.7255
2          1074.0  11.9  54.0  0.7502
3          1203.0  11.0  60.0  0.7867
4          1110.0  11.2  59.6  0.7888
...           ...   ...   ...     ...
9352       1729.0  21.9  29.3  0.7568
9353       1269.0  24.3  23.7  0.7119
9354       1092.0  26.9  18.3  0.6406
9355        770.0  28.3  13.5  0.5139
9356        816.0  28.5  13.1  0.5028

[9357 rows x 15 columns]

### 2- Drop unwanted labels

In [40]:
df = df.drop(['CO(GT)','NMHC(GT)', 'C6H6(GT)', 'NOx(GT)'], axis=1)
list(df.columns.values)

['Date',
 'Time',
 'PT08.S1(CO)',
 'PT08.S2(NMHC)',
 'PT08.S3(NOx)',
 'NO2(GT)',
 'PT08.S4(NO2)',
 'PT08.S5(O3)',
 'T',
 'RH',
 'AH']

### 3- Handle missing data

In [41]:
df.isna().sum()

Date                0
Time                0
PT08.S1(CO)       366
PT08.S2(NMHC)     366
PT08.S3(NOx)      366
NO2(GT)          1642
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                 366
RH                366
AH                366
dtype: int64

In [42]:
df.drop(df[df['PT08.S4(NO2)'].isna()].index, inplace=True)
df = df.dropna()
df

,Date,Time,PT08.S1(CO),PT08.S2(NMHC),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,1360.0,1046.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,3/10/2004,19:00:00,1292.0,955.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,3/10/2004,20:00:00,1402.0,939.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,3/10/2004,21:00:00,1376.0,948.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1272.0,836.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...
9352,4/4/2005,10:00:00,1314.0,1101.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568
9353,4/4/2005,11:00:00,1163.0,1027.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119
9354,4/4/2005,12:00:00,1142.0,1063.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406
9355,4/4/2005,13:00:00,1003.0,961.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139
9356,4/4/2005,14:00:00,1071.0,1047.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028

In [43]:
df.isna().sum()

Date             0
Time             0
PT08.S1(CO)      0
PT08.S2(NMHC)    0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

### 4- Replace date feature

In [48]:
df[["Month", "Day", "Year"]] = df["Date"].str.split("/", expand = True)
df = df.drop('Date',axis=1)
df

,Time,PT08.S1(CO),PT08.S2(NMHC),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Month,Day,Year
0,18:00:00,1360.0,1046.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,3,10,2004
1,19:00:00,1292.0,955.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,3,10,2004
2,20:00:00,1402.0,939.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,3,10,2004
3,21:00:00,1376.0,948.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,3,10,2004
4,22:00:00,1272.0,836.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,3,10,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,10:00:00,1314.0,1101.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568,4,4,2005
9353,11:00:00,1163.0,1027.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119,4,4,2005
9354,12:00:00,1142.0,1063.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406,4,4,2005
9355,13:00:00,1003.0,961.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139,4,4,2005
9356,14:00:00,1071.0,1047.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028,4,4,2005

## 5- Replace time feature

In [49]:
df[["Hour", "Minute", "Second"]] = df["Time"].str.split(":", expand = True)
df = df.drop('Time',axis=1)
df = df.drop('Minute',axis=1)
df = df.drop('Second',axis=1)

In [50]:
df

,PT08.S1(CO),PT08.S2(NMHC),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Month,Day,Year,Hour
0,1360.0,1046.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,3,10,2004,18
1,1292.0,955.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,3,10,2004,19
2,1402.0,939.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,3,10,2004,20
3,1376.0,948.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,3,10,2004,21
4,1272.0,836.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,3,10,2004,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,1314.0,1101.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568,4,4,2005,10
9353,1163.0,1027.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119,4,4,2005,11
9354,1142.0,1063.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406,4,4,2005,12
9355,1003.0,961.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139,4,4,2005,13
9356,1071.0,1047.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028,4,4,2005,14

### 6- Apply feature scaling

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [61]:
x = df.drop('NO2(GT)',axis=1)
y = df['NO2(GT)']

In [57]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=101)

In [59]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [86]:
from sklearn.preprocessing import PolynomialFeatures
def getPolynomialWithDegree(degree):
    polynomial_converter = PolynomialFeatures(degree=degree,include_bias=False)
    poly_features = polynomial_converter.fit_transform(x)
    x_train, x_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.3, random_state=101)
    scaler = StandardScaler()
    scaler.fit(x_train)
    x_train = scaler.transform(x_train)
    x_test = scaler.transform(x_test)
    return x_train,x_test,y_train,y_test

In [88]:
def doModel(model_name,model,degree):
    # TRAINING ERROR PER DEGREE
    train_rmse_errors = []
    # TEST ERROR PER DEGREE
    test_rmse_errors = []

    x_train,x_test,y_train,y_test = getPolynomialWithDegree(degree)
    model.fit(x_train,y_train)
    print(model_name)
    print("degree = %s" % degree)
    print("alpha = %s" % model.alpha_)

    test_predictions = model.predict(x_test)
    print("Test Set Performance")
    MAE = mean_absolute_error(y_test,test_predictions)
    MSE = mean_squared_error(y_test,test_predictions)
    test_RMSE = np.sqrt(MSE)
    # print("MAE = %s" % MAE)
    # print("MSE = %s" % MSE)
    print("RMSE = %s" % test_RMSE)

    train_predictions = model.predict(x_train)
    print("Training Set Performance")
    MAE = mean_absolute_error(y_train,train_predictions)
    MSE = mean_squared_error(y_train,train_predictions)
    train_RMSE = np.sqrt(MSE)
    print("RMSE = %s" % train_RMSE)
    # print("Coefficients")
    # print(lasso_cv_model.coef_)
    return test_RMSE, train_RMSE

### 7- Evaluate different degrees of lasso CV polynomial regression

In [90]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.linear_model import LassoCV
def doLassoCV(degree):
    test_RMSE, train_RMSE = doModel("LassoCV",LassoCV(eps=0.1,n_alphas=100,cv=5,max_iter=100000),degree)
    return (test_RMSE, train_RMSE)

In [ ]:
lasso_test_RMSE = []
lasso_train_RMSE = []

for i in range(1,5):
    test_RMSE, train_RMSE = doLassoCV(i)
    lasso_test_RMSE.append(test_RMSE)
    lasso_train_RMSE.append(train_RMSE)    
# doLassoCV(2)

In [93]:
lasso_test_RMSE
lasso_train_RMSE

[23.83523840277192, 23.253819227337136, 23.27918551642303, 23.259956638999924]

### 8- Choose the best degree and print the errors, model coefficients and the lasso parameters.

### 9a- Evaluate different degrees of Ridge CV polynomial regression

In [94]:
from sklearn.linear_model import RidgeCV
def doRidgeCV(degree):
    test_RMSE, train_RMSE = doModel("Ridge CV", RidgeCV(alphas=(0.1, 1.0, 10.0),scoring='neg_mean_absolute_error'), degree)
    return test_RMSE, train_RMSE

In [ ]:
ridge_test_RMSE = []
ridge_train_RMSE = []

for i in range(1, 5):
    test_RMSE, train_RMSE = doRidgeCV(i)
    ridge_test_RMSE.append(test_RMSE)
    ridge_train_RMSE.append(train_RMSE)

### 9b- Choose the best degree and print the errors, model coefficients and the Ridge parameters.

### 10a- Evaluate different degrees of ElasticNet CV polynomial regression

In [97]:
from sklearn.linear_model import ElasticNetCV
def doElasticNetCV(degree):
    test_RMSE, train_RMSE = doModel("ElasticNet CV", ElasticNetCV(l1_ratio=[.1, .5, .7,.9, .95, .99, 1],tol=0.01), degree)
    return test_RMSE, train_RMSE

In [98]:
elastic_test_RMSE = []
elastic_train_RMSE = []
for degree in range(1, 5):
    test_RMSE, train_RMSE = doElasticNetCV(degree)
    elastic_test_RMSE.append(test_RMSE)
    elastic_train_RMSE.append(train_RMSE)

ElasticNet CV
degree = 1
alpha = 0.033928122729437335
Test Set Performance
RMSE = 22.170035123388182
Training Set Performance
RMSE = 22.111109758596253
ElasticNet CV
degree = 2
alpha = 0.033938106840490354
Test Set Performance
RMSE = 19.314169205987824
Training Set Performance
RMSE = 19.110038213139543
ElasticNet CV
degree = 3
alpha = 0.03420376268214311
Test Set Performance
RMSE = 18.131753096320043
Training Set Performance
RMSE = 17.5870131753047
ElasticNet CV
degree = 4
alpha = 0.034204844352613235
Test Set Performance
RMSE = 17.53879794155433
Training Set Performance
RMSE = 16.870318488873416

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.463e+05, tolerance: 1.186e+05
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

### 10b- Choose the best degree and print the errors, model coefficients and ElasticNet parameters.

### 11- Compare the errors from the 3 regularization techniques, and save the best model.

In [ ]:
from joblib import dump
# dump(model, 'air_quality_poly.joblib')

### 12- Load the best model and test it on a sample that you manually created it.

In [ ]:
from joblib import load
loaded_model = load('air_quality_poly.joblib')

In [ ]:
sample = [[
    1350.0,
    1000.0,
    1050.0,
    1680.0,
    1074.0,
    33.0,
    25.0,
    0.6406,
    3,
    5,
    2006,
    10
]]

## Great work!
----